body {
    font-family: Arial, sans-serif;
    background-color: rgb(22, 7, 42);
    text-align: center;
    margin-top: 15px;
}

h1{
    color: rgb(255, 255, 255);
    box-shadow: rgb(94, 12, 12);
    border-style: solid;
    border-color: black;
    background-color: black;
    height: 100px;
    width: 500px;
    box-align: center;
    text-align: center;
    align-content: center;
    margin:auto;
    border-radius: 10px;
}

#tabla {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin-top: 25px;
    justify-content: center;
}

.karta {
    width: 100px;
    height: 100px;
    background-color: rgb(170, 153, 195);
    border-radius: 10px;
    color: rgb(209, 179, 222);
    align-items: center;
    justify-content: center;
}

.karta.flipped {
    background-color: rgb(0, 0, 0);
    text-align: center;
    transform:rotatY(180deg);
}

#obidi {
    color: rgb(255, 255, 255);
    padding: 7px 11px;
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: 0 2px 5px rgba(88, 8, 8, 0.632);
    font-weight: bold;
    display: inline-block;
}

#poraka {
    margin-top: 12px;
    font-weight: bold;
    color: white;
    display: inline-block;
}